<div class="container">
  <div class="pay-method-stripe">
    <h3>Pay at OXXO</h3>
    <div class="methods-image">
      <img src="../assets/image/oxxo.svg" alt="oxxo" />
      <img src="../assets/image/pci-dss.svg" alt="pci-dss" />
    </div>
  </div>

  <div class="payment-details">
    <div class="qr-stripe">
      <div class="prize">
        <h1>345 680.99 MXN</h1>
        <p class="caption">Expiration date</p>
        <p class="date">06.12.2023</p>
      </div>
      <div class="qr-image">
        <img src="../assets/image/bar-code.svg" alt="bar-code" />
      </div>
    </div>
    <div class="user-details">
      <ul class="user-info">
        <li>
          <span class="key">Full name</span>
          <span class="value">Aamir Ansari</span>
        </li>
        <li>
          <span class="key">Email</span>
          <span class="value">aamir@email.com</span>
        </li>
        <li>
          <span class="key">Payment ID</span>
          <span class="value">1234567890</span>
        </li>
        <li>
          <span class="key">Payment Description</span>
          <span class="value">Cash payment</span>
        </li>
        <li>
          <span class="key">Banco G&T convenience number</span>
          <span class="value">1234567</span>
        </li>
        <li>
          <span class="key">Bam convenience number</span>
          <span class="value">JKHJ233223</span>
        </li>
      </ul>
      <div class="aside-info">
        <div class="tips-payment">
          Dear customer, please note that you need to pay a voucher before
          06.12.2023. The maximum transaction amount at Refacil sales points is
          1 million COP.
        </div>
        <div class="button-wrapper">
          <button class="btn save">Save</button>
          <button class="btn" (click)="print()">Print</button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>
      <img src="../assets/image/Logo.svg" alt="logo" />
      © 2009 — 2023 Unlimit
    </p>
  </footer>
</div>
