:root {
  // dark color
  --body-color: #fafafa;
  --light-1: #606060;
  // white color
  --white-100: #fff;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--body-color);
}

* {
  margin: 0;
  padding: 0;
}
